@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  scroll-behavior: smooth;
  color: #ffffff;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  /*-------| Responsive Font size |-------*/
  /*------| Font Variation For 48px |------*/
  --fontFor-48px-Lg--: clamp(2.75rem, 2.5294rem + 0.3922vw, 3rem);
  --fontFor-48px-Md--: 2.875rem;
  --fontFor-48px-Sm--: 2.75rem;
  --fontFor-48px-Xs--: 2.625rem;

  /*------| Font Variation For 36px |------*/
  --fontFor-36px-Lg--: 2.25rem;
  --fontFor-36px-Md--: 2.125rem;
  --fontFor-36px-Sm--: 2rem;
  --fontFor-36px-Xs--: 1.875rem;

  /*------| Font Variation For 32px |------*/
  --fontFor-32px-Lg--: 2rem;
  --fontFor-32px-Md--: 1.875rem;
  --fontFor-32px-Sm--: 1.75rem;
  --fontFor-32px-Xs--: 1.625rem;

  /*------| Font Variation For 26px |------*/
  --fontFor-26px-Lg--: clamp(0.8125rem, 0.0956rem + 1.2745vw, 1.625rem);
  --fontFor-26px-Md--: 1.5rem;
  --fontFor-26px-Sm--: 1.375rem;
  --fontFor-26px-Xs--: 1.25rem;

  /*------| Font Variation For 24px |------*/
  --fontFor-24px-Lg--: 1.5rem;
  --fontFor-24px-Md--: 1.375rem;
  --fontFor-24px-Sm--: 1.25rem;
  --fontFor-24px-Xs--: 1.125rem;

  /*------| Font Variation For 20px |------*/
  --fontFor-20px-Lg--: clamp(1rem, 0.7794rem + 0.3922vw, 1.25rem);
  --fontFor-20px-Md--: 1.125rem;
  --fontFor-20px-Sm--: 1rem;
  --fontFor-20px-Xs--: 0.875rem;

  /*------| Font Variation For 18px |------*/
  --fontFor-18px-Lg--: clamp(0.875rem, 0.6544rem + 0.3922vw, 1.125rem);
  --fontFor-18px-Md--: 1rem;
  --fontFor-18px-Sm--: 1rem;
  --fontFor-18px-Xs--: 0.75rem;

  /*------| Font Variation For 16px |------*/
  --fontFor-16px-Lg--: clamp(0.625rem, 0.2941rem + 0.5882vw, 1rem);
  --fontFor-16px-Md--: 0.875rem;
  --fontFor-16px-Sm--: 0.75rem;
  --fontFor-16px-Xs--: 0.625rem;

  /*------| Font Variation For 14px |------*/
  --fontFor-14px-Lg--: clamp(0.625rem, 0.4044rem + 0.3922vw, 0.875rem);
  --fontFor-14px-Md--: 0.75rem;
  --fontFor-14px-Sm--: 0.625rem;
  --fontFor-14px-Xs--: 0.625rem;

  /*------| Font Variation For 12px |------*/
  --fontFor-12px-Lg--: clamp(0.5rem, 0.2794rem + 0.3922vw, 0.75rem);
  --fontFor-12px-Md--: 0.625rem;
  --fontFor-12px-Sm--: 0.625rem;
  --fontFor-12px-Xs--: 0.625rem;

  /*------| Font Variation For 10px |------*/
  --fontFor-10px-Lg--: 0.625rem;
  --fontFor-10px-Md--: 0.5rem;
  --fontFor-10px-Sm--: 0.5rem;
  --fontFor-10px-Xs--: 0.5rem;

  /*------| Font Variation For 8px |------*/
  --fontFor-8px-Lg--: 0.5rem;
  --fontFor-8px-Md--: 0.5rem;
  --fontFor-8px-Sm--: 0.5rem;
  --fontFor-8px-Xs--: 0.5rem;

  /*-------| Color Palette |-------*/
  --lightColor--: #cccccc32;
  --lightGrayTypeOne--: #cacaca;
  --lightGrayTypeTwo--: #ffffffee;

  --favBg--: #141e30;
  --favPink--: #e31b6d;
  --darkBlack--: #000000;
  --fullWhite--: #ffffff;
  --favBlue--: #00abfa73;
  --favYellow--: #ccbe02;

  --btnHoverFavBg--: #1f1a1e63;
  --drawerBg--: linear-gradient(to right, #141e30, #243b55);
  --shimmerTextColor--: linear-gradient(90deg, #757575, #fff);
  --btnHoverBg--: linear-gradient(90deg, #03a8f479, #f441a66e);
  --btnBorderColor--: linear-gradient(90deg, #03a8f4a0, #f441a699);

  --boxShadOne--: 0px 0px 60px -10px rgba(0, 171, 250, 0.45);
  --boxShadTwo--: 0px 0px 40px 6px rgba(255, 221, 0, 0.5);

  /*-------| Common Values |-------*/
  --padding-xDir-Lg--: 5.5rem;
  --padding-xDir-Md--: 3rem;
  --padding-xDir-Sm--: 1rem;
  --padding-xDir-Xs--: 1rem;
}

/*------| Note |------*/
/*
* Lg -> Large
* Md -> Medium
* Sm -> Small
* Xs -> Extra Small
*/

/*
* Clamp -> clamp(min-fontSize, 900 + 1920, max-fontSize)
*/

body {
  background-color: var(--lightColor--);
  color: var(--darkBlack--);
}

body[data-theme="dark"] {
  background-color: var(--favBg--);
  color: var(--fullWhite--);
}
